doctype html
html(lang='en')
    head
        title a simple index file with pug structure
        link(ref='stylesheet' href='')
        script(href='')
    body
        h1 Hello World
        h2
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio accusantium nemo sint sequi molestiae nesciunt expedita. Dolores impedit totam sit, nesciunt 
        | ratione expedita, quod soluta architecto natus quam doloremque dolor.